<nav id="myNavmenu" class="navmenu navmenu-inverse navmenu-fixed-left offcanvas" role="navigation">
    <li class="navmenu-brand" href="#">Caseload</li>

    <ul class="nav navmenu-nav">
        <li class="patient active"><a href="#">Patient Name</a></li>
        <li><a href="#">Patient Name</a></li>
    </ul>
</nav>
<div class="navbar navbar-fixed-left">
    <button type="button " class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
</div>
<div class="wrapper container-fluid row col-md-12">
	<div class="leftSide col-md-4">
    	<div class="img"></div>
    	<h3>David Daniel</h3>
		<dl class="info">DOB: 10/20/1981</dl>
		<ul class="info">Current issues</ul>
	</div>
	<div class="rightSide js-packery row col-md-8" data-packery-options='{ "itemSelector": ".list", "gutter": 2, 	"columnWidth": 80,
  "rowHeight": 80 }'>
		<div class="list">
			<div class="cards"></div>
			<div class="cards"></div>
			<div class="cards"></div>
		</div>
		<div class="list">
			<div class="cards"></div>
			<div class="cards"></div>
			<div class="cards"></div>
		</div>
		<div class="list">
			<div class="cards "></div>
			<div class="cards"></div>
			<div class="cards"></div>
		</div>

		
	</div>
</div>
<script>
$(document).ready(function(){
	console.log('inside script');
	var $list = $('.list');
// init
	var $rightSide = $('.rightSide');
	$rightSide.packery({
		itemSelector: '.list',
		gutter: 2
	});

$list.packery({
  itemSelector: '.cards',
  gutter: 10
});
$('.list').find('.cards').each( function( i, itemElem ) {
  // make element draggable with Draggabilly
  var draggie = new Draggabilly( itemElem );
  // bind Draggabilly events to Packery
  $list.packery( 'bindDraggabillyEvents', draggie );
});

})



</script>