<nav id="myNavmenu" class="navmenu navmenu-inverse navmenu-fixed-left offcanvas" role="navigation">
    <li class="navmenu-brand" href="#">Caseload</li>

    <ul class="nav navmenu-nav">
        <li class="patient active"><a href="#">Patient Name</a></li>
        <li><a href="#">Patient Name</a></li>
    </ul>
</nav>
<div class="navbar navbar-fixed-left">
    <button type="button " class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
</div>
<div class="wrapper container-fluid row col-md-12">
	<div class="leftSide col-md-4">
    	<div class="img"></div>
    	<h3>David Daniel</h3>
		<dl class="info">DOB: 10/20/1981</dl>
		<ul class="info">Current issues</ul>
	</div>
	<div class="rightSide js-packery row col-md-8" data-packery-options='{ "itemSelector": ".cards", "gutter": 10, "columnWidth": 80  }'>
		<div class="cards col-md-2"></div>
		<div class="cards col-md-2"></div>
		<div class="cards col-md-2"></div>
	</div>
</div>