
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Doc Page</title>
</head>
<body>
<div class="container">
	<div class="caseload three columns" >
		<h1>Caseload</h1>
		<div class="patient three offset-by-one columns ">
			<p>Patient name</p>
		</div>
		<div class="patient three offset-by-one columns ">
			<p>Patient name</p>
		</div>
		<div class="patient three offset-by-one columns ">
			<p>Patient name</p>
		</div>
		<div class="patient three offset-by-one columns ">
			<p>Patient name</p>
		</div>
		<div class="patient three offset-by-one columns ">
			<p>Patient name</p>
		</div>
	</div>
	<div class="leftSide three columns">
		<div class="img"></div>
		<h2>David Daniel</h2>
		<description class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta praesentium tenetur tempore excepturi autem id.</description>
	</div>
	<div class="rightSide six columns">
		<div class="boards"></div>
		<div class="boards"></div>
		<div class="boards"></div>
	</div>
	 <footer class="twelve columns">
	                    &copy; david e daniel
	                </footer>
</div>
</body>
</html>