
    <div class="wrapper">
        


    <div class="leftHolder form-horizontal">
    <fieldset>
    <legend>Sign in</legend>
    <div class="control-group">
    <label for="loginName" class="controls">
        Screen Name
    </label>

    </div>
    <div class="controls">
    <input type="text" name="loginName">
    </div>

    <div class="control-group">
<label for="password" class="controls">
        Password
</label>
</div>
<div class="controls">
<input type="password" id="loginPassword">

</div>
<input type="hidden" name="authenticity_token" value = "">
<br>
<button id="loginButton" class= "btn btn-default btn-sm">Sign In</button>
    </fieldset>
    </div>
<br>
<br>
    <div class="rightHolder form-horizontal">
    <fieldset>
    <legend>Sign up</legend></fieldset>
    <div class="control-group">
    <label for="signupName" class="controls">
        User Name
    </label>

    </div>
    <div class="controls">
    <input type="text" id="signupName"/>
    </div>

    <div class="control-group">
    <label for="fullName" class="controls">
        Full Name
    </label>

    </div>
    <div class="controls">
    <input type="text" id="fullName" name="fullName" />
    </div>

    <div class="control-group">
    <label for="email" class="controls">
        Email
    </label>

    </div>
    <div class="controls">
    <input type="text" id="email" name="email" />
    </div>

    <div class="control-group">
<label for="password" class="controls">
        Password
</label>
</div>
<div class="controls">
<input type="password" name= "password" id="signupPassword" />
</div>

    <div class="control-group">
<label for="confirm_password" class="controls">
        Confirm Password
</label>
</div>
<div class="controls">
<input type="password" id="signupConfirmPassword" name="confirm_password" />
</div>

<input type="hidden" name="authenticity_token" value = "">
<br>
<button id="signupButton" class= "btn btn-default btn-sm">Sign Up</button>
    </fieldset>
    </div>
    

    
    
    

    </div>
</div>


<script>
    $("#loginButton").click(function(){
        var username = $("#loginName").val();
        var password = $("#loginPassword").val();
        if (username && password) {
            $.post(
                '/login',
                {username: username, password:password},
                function () {
                    window.location = "/patient/show/"+patient.id;
                }
            ).fail(function(res){
                alert("Error: " + res.getResponseHeader("error"));
            });
        } else {
            alert("A username and password is required");
        }
    });
    
    $("#signupButton").click(function(){
    var username = $("#signupName").val();
    var fullName = $("#fullName").val();
    var email = $("#email").val();
    var password = $("#signupPassword").val();
    var confirmPassword = $("#signupConfirmPassword").val();
    if (username && password) {
        if (password === confirmPassword) {
            $.post(
                '/signup',
                {username: username, password:password},
                function () {
                    window.location = "/patient/show/"+patient.userId;
                }
            ).fail(function(res){
                alert("Error: " + res.getResponseHeader("error"));
            });
        } else {
            alert("Passwords don't match");
        }   
    } else {
        alert("A username and password is required");
    }
});
</script>