
  <div class="jumbotron col-md-16">
    <h1 class="text-center">dr <i class="fa fa-plus"></i> ello</h1>

    <h2 class = "text-center">personalized health ed material from your own provider</h2>
    <div class="row text-center">
        <a href="/patient/new" class="btn btn-md btn-default">Sign up</a>
        <a href="/session/new" class="btn btn-md btn-default">Log in</a>
    </div>
  </div>
