
    <div class="wrapper row">
        


    <form class="leftHolder form-horizontal">
    <fieldset>
    <legend>Sign in</legend></fieldset>
    <div class="control-group">
    <label for="loginName" class="controls">
        Screen Name
    </label>

    </div>
    <div class="controls">
    <input type="text" id="loginName">
    </div>

    <div class="control-group">
<label for="password" class="controls">
        Password
</label>
</div>
<div class="controls">
<input type="password" id="loginPassword">

</div>
<input type="hidden" name="_csrf" value = "<%= _csrf %>">
<br>
<button type= "submit" id="loginButton" class= "btn btn-default btn-sm">Sign In</button>

    </form>
<br>
<br>

    <div class="rightHolder form-horizontal">
    <fieldset>
    <legend>Sign up</legend></fieldset>
    <div class="control-group">
    <label for="signupName" class="controls">
        User Name
    </label>

    </div>
    <div class="controls">
    <input type="text" id="signupName" />
    </div>

    <div class="control-group">
    <label for="fullName" class="controls">
        Full Name
    </label>

    </div>
    <div class="controls">
    <input type="text" id="fullName"  />
    </div>

    <div class="control-group">
    <label for="email" class="controls">
        Email
    </label>

    </div>
    <div class="controls">
    <input type="text" id="email"  />
    </div>

    <div class="control-group">
<label for="password" class="controls">
        Password
</label>
</div>
<div class="controls">
<input type="password" id="signupPassword" />
</div>

    <div class="control-group">
<label for="confirm_password" class="controls">
        Confirm Password
</label>
</div>
<div class="controls">
<input type="password" id="signupConfirmPassword"  />
</div>

<input type="hidden" name="authenticity_token" value = "">
<br>
<button id="signupButton" class= "btn btn-default btn-sm">Sign Up</button>

    </div>
    

    
    
    

    </div>

