
  <div class="jumbotron col-md-16">
    <h1>dr + Ello</h1>

    <h2>personalized health ed material from your own provider</h2>
    <a href="/patient/new" class="btn btn-lg btn-default">Sign up</a>
    <a href="/session/new" class="btn btn-lg btn-default">Log in</a>
  </div>
