
<nav class="navmenu navmenu-inverse navmenu-fixed-left">
    <li class="navmenu-brand" href="#">Caseload</li>

    <ul class="nav navmenu-nav">

<% patients.forEach( function ( patient ) { %>
<% console.log(patient) %>
<li class="patient" >
	<a href="/patient/show/<%= patient.id %>"><%= patient.fullName  %></a>
<% } ) %>

        
    </ul>
</nav>


    

<div class="wrapper container-fluid row col-md-12">
	<div class="leftSide col-md-4">
    	<button type="button " class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>

    	<div class="img"></div>
    	<form action="/patient/update/<%= patient.id %>" method="POST"></form>
    	<h3>David Daniel</h3>
		<dl class="info">DOB: 10/20/1981</dl>
		<ul class="info">Current issues</ul>
	</div>
	<div class="rightSide js-packery row col-md-8" data-packery-options='{ "itemSelector": ".list", "gutter": 2, 	"columnWidth": 80,
  "rowHeight": 80 }'>
		<div class="list">
			<p class="listName">Title</p>
			<div class="cards"></div>
			<div class="cards"></div>
			<div class="cards"></div>
		</div>
		<div class="list">
			<div class="cards"></div>
			<div class="cards"></div>
			<div class="cards"></div>
		</div>
		<div class="list">	
			<div class="cards "></div>
			<div class="cards"></div>
			<div class="cards"></div>
		</div>
		<div class="list">	
			<div class="cards "></div>
			<div class="cards"></div>
			<div class="cards"></div>
		</div>
		<div class="list">	
			<div class="cards"></div>
			<div class="cards"></div>
			<div class="cards"></div>
		</div>

		
	</div>
</div>
<script>
$(document).ready(function(){
	console.log('inside script');
	var $list = $('.list');
// init
	var $rightSide = $('.rightSide');

	$rightSide.packery({
		itemSelector: '.list',
		gutter: 2,
		columnWidth: 80,

	});
	$list.packery({
  itemSelector: '.cards',
  gutter: 10
});

// $rightSide.find($list).each(function(i, div){

// 	var dragger = new Draggabilly (div);
// 	$rightSide.packery('bindDraggabillyEvents', dragger);
// });

$rightSide.on( 'click', '.list', function( event ) {
  var $target = $( event.target )
  var bigger = $target.hasClass('bigList');
  $target.toggleClass('bigList');

  if ( bigger ) {
    // if shrinking, just layout
    $rightSide.packery({
		itemSelector: '.list',
		gutter: 2,
		columnWidth: 80,

	});
  } else {
    $rightSide.packery( 'fit', event.target );
  }
});


$('.list').find('.cards').each( function( i, itemElem ) {
  // make element draggable with Draggabilly
  var draggie = new Draggabilly( itemElem );
  // bind Draggabilly events to Packery
  $list.packery( 'bindDraggabillyEvents', draggie );
});

})



</script>