
	
	
	<h1><%- patient.fullName %></h1>

	<br>
	<h5><%- patient.email %></h5>
	<a href="#/logout" class="btn btn-medium btn-default">Logout</a>


<script>

    var PatientModel = Backbone.Model.extend({
        urlRoot: 'http://localhost:1337/patients'
    });


    var PatientCollection = Backbone.Collection.extend( {
		url: 'http://localhost:1337/patients',
		model: PatientModel,
	} );

	var patients = new PatientCollection();
	patients.fetch();

	$( "#postPatientButton" )
		.click, ( function () {
			var patientView = $( "#patient" )
				.val();
			patients.create( {
				patient: patientView
			}, {
				wait: true
			} );
			$( "#patient" )
				.val( "" );
		} );

	_.templateSettings = {
		interpolate: /\{\{(.+?)\}\}/g
	};

	var PatientsView = Backbone.View.extend( {
		el: '#patientsContainer',
		initialize: function () {
			this.collection.on( 'add', this.render, this );
			this.render();
		},
		template: _.template(
			"<div><p><b>{{ fullName }} </b>{{ id }}</p></div>" ),
		render: function () {
			this.$el.html( "" );
			this.collection.each( function ( pat ) {
				this.$el.append( this.template( pat.toJSON() ) );
			}, this )
		}
	} );

	var patView = new PatientsView( {
		collection: patients
	} );


</script>