body {
	line-height: 1.3;
	font-family: Open Sans;
	font-weight: 400px;
	color: rgba(0,0,0,.8);
	background-color: #FBFCFC;
	border-top: 10px solid #c0392b ;
	border-left: 10px solid #c0392b ;

}
.img {
	width: 200px;
	height: 200px;
	border: thin red solid;
}
.container{
	border: thick blue solid;
}
.caseload{
	border: black solid;
	left: 10px;
}
.rightSide{
	background-color: #F92772;
}
.boards{
	background-color: #FBFCFC;
}
.patient{
	min-width: 80%;
	border: red solid thin;
	margin: 10px auto;
	padding: 5px;
	background-color: #F92772;
}

header {
	margin-top: 20px;
	margin-bottom: 20px;
}

nav {
	float: left;
}
nav ul li {
	display: inline;
}

h2{
	font-size: 32px;
}
.date{
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: rgba(0,0,0,.5);
}
a{	color: #c0392b;}


h3{
	font-weight: 200;
	
}

footer{
	margin-bottom: 30px;	
}
