
body {


	font-family: 'Open Sans', sans-serif;
	font-weight: 400px;
	color: rgba(0,0,0,.8);
	background-color: #FBFCFC;

	border-top: 65px solid #1770AF ;
	border-left: 10px;
	border-right: 10px;

}
.bigList{
	border-radius: 6px;
	width: 300px;
	padding-top: 20px; !important
	padding: 2px;

	max-height: 800px;
	border: red thin solid;
	background-color: #FBFCFC;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wrapper{

}
img {
   display: block;
   margin-left: auto;
   margin-right: auto
}
.listName{
	display: fixed top;
}
.img {
	width: 200px;
	height: 200px;
	border: thin red solid;
}
.container{
	border: thin blue solid;
}

.rightSide{
	height: 70vh;
	padding: 10px;
	border: red thin solid;
	background-color: #475577;
}
.list{
	border-radius: 6px;
	padding-top: 20px; !important
	padding: 2px;
	width: 150px;
	max-height: 800px;
	border: red thin solid;
	background-color: #E2E4E6;
}
.cards{
	border-radius: 6px;
	height: 90px;
	width: 125px;
	border: red thin solid;
	background-color: #fff;
}
