
body {
	padding-left: 300px;

	font-family: 'Open Sans', sans-serif;
	font-weight: 400px;
	color: rgba(0,0,0,.8);
	background-color: #FBFCFC;

	border-top: 65px solid #1770AF ;
	border-left: 10px;
	border-right: 10px;

}
.navmenu {
	width: 200px;
}
.bigList{
	border-radius: 6px;
	width: 600px;
	font-size: 20px;
	padding-top: 20px; !important
	padding: 2px;

	max-height: 800px;
	
	background-color: #FBFCFC;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wrapper{

}
img {
   display: block;
   margin-left: auto;
   margin-right: auto
}
.listName{
	display: fixed top;
}
.img {
	width: 200px;
	height: 200px;
	
}
.container{
	
}

.rightSide{
	height: 70vh;
	padding: 10px;
	
	background-color: #475577;
}
.list{
	border-radius: 6px;
	padding-top: 20px; !important
	padding: 2px;
	width: 156px;
	max-height: 800px;
	
	background-color: #E2E4E6;
}
.cards{
	border-radius: 6px;
	font-size: 12px;
	height: 90px;
	width: 150px;
	
	background-color: #fff;
}

@media (min-width: 992px) {
  body {
    padding-left: 300px;
  }
}
